.FAB-container {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: fit-content;
  display: flex;
  flex-direction: column-reverse;
}

.FAB-floating-action-button {
  z-index: 1000;
  display: flex;
  flex-direction: column-reverse;
  align-items: self-end;
  gap: 18px;
}

.FAB-floating-action-button.FAB-row {
  flex-direction: row-reverse;
}

.FAB-action-button {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  padding: 4px;
  color: #f8f8f8;
  box-shadow: 1px 1px 8px 0px #00000080;
  animation-timing-function: ease-in-out;
  animation-duration: 300ms;
  cursor: pointer;
}

.FAB-action-button.FAB-active {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 1px solid white;
  background-clip: content-box;
}

.FAB-button-label {
  background-color: #f8f8f8;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  padding: 8px 14px;
  border-radius: 4px;
  gap: 8px;
  margin-right: 15px;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 8px 0px #00000080;
  display: none;
}

.FAB-button-label.FAB-visible{
  display: inline-block;
}

.FAB-floating-button-options {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  animation-name: fadeIn;
  animation-duration: 0.FAB-5s;
  gap: 18px;
}

.FAB-floating-button-options.FAB-row{
  flex-direction: row-reverse;
}

.FAB-floating-button-options.FAB-visible {
  display: flex;
}


.FAB-active-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (max-width: 768px) {

  .FAB-container {
    bottom: 0;
    right: 0;
    width: 100%;
    flex-direction: column;
  }

  .FAB-floating-action-button {
    
  }

  .FAB-floating-action-button.FAB-row {
    
  }

  .FAB-action-button {
    width: 40px;
    height: 40px;
  }

  .FAB-action-button.FAB-active {
    width: 42px;
    height: 42px;
  }
  
  .FAB-button-label {
    font-size: 12px;
  }

  .FAB-floating-button-options {
    gap: 12px;
  }

  .FAB-active-card {
    width: 100%;
  }

}
