.answer-card {
  position: relative;
  width: 800px;
  height: 300px;
  padding: 16px 32px;
  border-radius: 6px;
  border: 0.answer_card-4px;
  gap: 16px;
  background-color: #DEE7FF;
  ;
}

.answer_card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.answer_card-user-profile {
  display: flex;
}

.answer_card-user-profile img{
    width: 60px;
}

.answer_card-user-profile div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.answer_card-user-name {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.answer_card-edit-button {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.answer_card-edit-button img {
  height: 25px;
  width: 25px;
  margin-right: 15px;
}
.answer_card-answer-content {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
}

.answer_card-answer-content span {
  font-weight: 700;
}
.answer_card-footer {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: calc(100% - 64px);
  bottom: 24px;
  left: 32px;
}

.answer_card-footer span {
  display: flex;
  align-items: center;
}

.answer_card-footer span img {
  margin-right: 6px;
}

.answer_card-footer span input {
  width: 478px;
  height: 14px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #0F0F0F;
  justify: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}

.answer_card-footer button {
  width: 76px;
  height: 34px;
  padding: 4px 16px;
  border-radius: 6px;
  border: 1px solid #0F0F0F;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #00000080;

}
