.fab_cards-card-container {
  background-color: #f8f8f8;
  padding: 24px 16px;
  border-radius: 8px;
  gap: 32px;
  width: 398px;
}

.fab_cards-card-title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #4d4d4d;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 10px;
}

.fab_cards-card-title h4 {
  margin-top: 0;
  width: 326px;
}

.fab_cards-card-title h4 span {
  color: black;
}

.fab_cards-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.fab_cards-input-label {
  display: block;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 12px;
}

.fab_cards-input {
  width: 100%;
  height: 42px;
  padding: 12px 16px;
  border-radius: 8px;
  gap: 8px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #e0e0e0;
  border: 2px solid #cccccc;
  box-sizing: border-box;
}

.fab_cards-query-input {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px;
  overflow-y: auto;
  outline: none;
}

.fab_cards-required-field {
  color: red;
  font-size: 20px;
  margin-left: 5px;
  font-family: Poppins;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}

.fab_cards-query-box {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  gap: 8px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #e0e0e0;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  position: relative;
}

.fab_cards-file-attach{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

.fab_cards-file-attach-button {
  bottom: 8px;
  display: flex;
  width: 102px;
  height: 32px;
  align-items: center;
  justify-content: center;
  background: #c7c7c7;
  border-radius: 4px;

  font-family: Poppins;
  font-size: 19px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 8px;
}

.fab_cards-selected-images{
  display: flex;
  gap: 10px;
}

.fab_cards-selected-img-container {
  position: relative;
}
.fab_cards-selected-img {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.fab_cards-img-close-button {
  position: absolute;
  width: 8px;
  height: 8px;
  top: -5px;
  left: 38px;
  padding: 4px;
  border-radius: 24px;
  background-color: #00000099;
}

.fab_cards-submit-button {
  align-self: flex-end;
  width: 114px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  gap: 8px;
  background-color: #0f0f0f;
  opacity: 0.6;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #f8f8f8;
}

.fab_cards-submit-button.fab_cards-submittable {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .fab_cards-card-container {
    width: 100%;
    padding: 24px 12px;
    border-radius: 20px 20px 0px 0px;
    gap: 24px;
  }

  .fab_cards-card-title {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

    padding-bottom: 0px;
  }

  .fab_cards-card-title h4 {
    margin-top: 0;
    width: 288px;
  }

  .fab_cards-input-label {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }

  .fab_cards-input {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    height: 36px;
    padding: 10px 12px;
    border-radius: 4px;
    gap: 4px;
  }

  .fab_cards-query-input {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px;
    overflow-y: auto;
    outline: none;
  }

  .fab_cards-form {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fab_cards-file-attach-button {
    width: 88px;
    height: 28px;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
  }

  .fab_cards-submit-button {
    padding: 5px 10px;
    height: 38px;
    width: 106px;
    font-size: 18px;
    text-align: center;
  }

  .fab_cards-submit-button.fab_cards-submittable {
    opacity: 1;
  }
}
